<div class="text-center">
    <h1>Template Driven Forms in Angular</h1>
    <br>
    <form #templateForm="ngForm" (ngSubmit)="submitInfo(templateForm.value)">
        <input type="text" name="name" placeholder="Enter User Name" ngModel #name="ngModel" required>
        <span class="error" *ngIf="name.invalid && name.touched"> Required!</span>
        <br>
        <br>
        <input type="password" name="password" placeholder="Enter Password" ngModel #password="ngModel" minlength="5" maxlength="10" required>
        <span class="error" *ngIf="password.invalid && password.touched"> Required! (Minimum 5 characters and Maximum 10 Characters are allowed)</span>
        <br>
        <br>
        <input type="text" name="address" placeholder="Enter address" ngModel #address="ngModel" pattern="[a-zA-Z0-9\s]+" required>
        <span class="error" *ngIf="address.invalid && address.touched"> Invalid Address!</span>
        <br>
        <br>
        <input type="range" name="range" ngModel />
        <br>
        <br>
        <button (click)="sendData = true;" [disabled]="templateForm.invalid">Submit</button>
    </form>
    <div *ngIf="sendData == true">
        <h2>Template Driven Form Output</h2>
        <h3>{{formData?.name}}</h3>
        <h3>{{formData?.password}}</h3>
        <h3>{{formData?.range}}</h3>
        <h3>{{formData?.address}}</h3>
    </div>
</div>