<div>
    <!-- Showing Selected User Name using Event Binding Concept in Angular (onSelectUser() method gets called on click event) -->
    <button (click)="onSelectUser()">
        <!-- Showing Selected User Image using Property Binding Concept in Angular (imagePath is a getter property) -->
        <!-- <img [src]="imagePath" alt="selectedUser.name"> -->

        <!-- Showing Selected User Image using imagePath() computed signal --> 
        <!-- <img [src]="imagePath()" [alt]="selectedUser().name"> -->

        <!-- Showing Selected User Name using Interpolation in Angular (We can access all public properties via interpolation) -->
        <!-- <span>{{ selectedUser().name }}</span> -->

        <img [src]="imagePath" alt="name">         
        <!-- <span>{{ name }}</span>     -->
        <span>{{ user.name }}</span>
        
        <!-- <img [src]="imagePath()" alt="name()">         
        <span>{{ name() }}</span> -->
    </button>
</div>
